.page:has(.page__main--not-found ) {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.page__main--not-found {
  padding-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: underline;
  text-align: center;
  margin: 0 auto 20px;
  display: block;
}

.header__nav-link {
  cursor: pointer;
}

.user__avatar-wrapper:has(.user__avatar--image) {
  background-image: unset;
}

.user__avatar--image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
