.error {
  font-size: 20px;
  line-height: 120%;
  color: inherit;
  font-weight: 700;
  text-align: center;
  
  min-width: 200px;
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.error__text {
  margin: 0 auto;
}
